<% @tweets.each do |tweet| %>
  <div class="tweets-index-row">
    <div class="card-group tweets-index-card-group">
      <div class="tweets-index-border">
        <%= image_tag tweet.user.avatar, class:"tweets-index-avatar"%>
      </div>
      <div class="card-body">
        <h4 class="card-title tweets-index-card-title">
          <%= tweet.user.name %>
        </h4>
        <p class="card-text tweets-index-card-text">
          <%= tweet.text%>
        </p>
        <p class="card-text tweets-index-card-text"><small class="text-muted"><%= tweet.created_at.strftime("%Y-%m-%d %H:%M")%></small></p>
        <div class="button-wrapper">
          <button class="btn btn-red100_ftg btn-lg" value="詳細">
            <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get, class:"button-a"%>
          </button>
          <% if user_signed_in? && current_user.id == tweet.user_id %> <button class="btn btn-red100_ftg btn-lg">
                  <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get,class:"button-a" %>
                </button> <button class="btn btn-red100_ftg btn-lg">
                  <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete,class:"button-a"%>
                </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>