<div class="contents row" style="width:60%; margin: 0 auto;background-color:rgba(255, 192, 203, 0.388)">
  <div class="card-group" style="width:60%; margin: 0 auto; padding:20px;">
    <div class="border" style="width:200px; height:200px;margin:0 auto; ">
      <%= image_tag tweet.user.avatar,style:"width:200px; height:200px; " %>
    </div>
    <div class="card-body">
      <h4 class="card-title">
        <%= tweet.user.name %>
      </h4>
      <p class="card-text" style="word-wrap:break-word;">
        <%= tweet.text%>
      </p>
      <p class="card-text"><small class="text-muted"><%= tweet.created_at.strftime("%Y-%m-%d %H:%M")%></small></p>
      <div class="button-wrapper"> <button class="btn btn-red100_ftg btn-lg">
              <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get%>
            </button>
        <% if user_signed_in? && current_user.id == tweet.user_id %> <button class="btn btn-red100_ftg btn-lg">
                <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
              </button> <button class="btn btn-red100_ftg btn-lg">
                <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete%>
              </button>
          <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
