<div class="card-group tweet-show-group">
  <div class="border">
    <%= image_tag @tweet.user.avatar,class:"tweet-show-avatar"%>
  </div>
    <div class="card-body">
    <h4 class="card-title"><%= @tweet.user.name %></h4>
      <p class="card-text"><%= @tweet.text%></p>
      <p class="card-text"><small class="text-muted"><%= @tweet.created_at.strftime("%Y-%m-%d %H:%M")%></small></p>
      <div class="tweet-show-row">
        <div class="col-md">
            <% if user_signed_in? && current_user.id == @tweet.user_id %>
              <button class="btn btn-red100_ftg btn-lg">
                <%= link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get,class:"button-a" %>
              </button>
              <button class="btn btn-red100_ftg btn-lg">
                <%= link_to '削除',"/tweets/#{@tweet.id}", method: :delete, class:"button-a"%>
              </button>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ここからフォーム -->
    <% if current_user %>
      <%= form_tag("/tweets/#{@tweet.id}/comments",  method: :post, id: "new_comment") do %>
        <textarea cols="95" name="text" placeholder="コメントする" rows="5" class="textbox"></textarea>
      <input class="btn btn-red50_rsd comments-form-button" type="submit" value="SENT">
      <% end %>
    <% end %>
    <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
