<div class="account-page" id="account-page">
  <div class="account-page__inner clearfix">
    <div class="account-page__inner--left account-page__header"></div>
    <h3 class="user-show-title">
      <%= @user.name %> <span>さんのアカウント編集</span></h3>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <%= image_tag @user.avatar.variant(resize:'400x500').processed %>
              <div class="card-body">
                <p class="card-text user-show-card-text-profile">
                  <%= @user.profile %>
                </p>
                <div class="account-page__inner--right user-form">
                  <%= form_for(current_user) do |f| %>
                    <div class="field">
                      <div class="field-label user-edit-label">
                        <%= f.label :"名前"%>
                      </div>
                      <div class="field-input">
                        <%= f.text_field :name, autofocus: true %>
                      </div>
                    </div>
                    <div class="field users-edit-profile-field">
                      <div class="field-label">
                        <%= f.label :"プロフィール"%>
                      </div>
                      <div class="field-input">
                        <%= f.text_field :profile, autofocus: true %>
                      </div>
                    </div>
                    <div class="field users-edit-avatar-field">
                      <div class="field-label">
                        <%= f.label :"画像の変更" %>
                      </div>
                      <div class="field-input">
                        <%= f.file_field :avatar %>
                      </div>
                    </div>
                    <div class="actions">
                      <%= f.submit "更新する", class: 'btn btn-pink100_rsd'%>
                    </div>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>