<div class="container">
  <div class="row">
    <div class="col-lg-4" style="margin:0 auto;">
      <h3 style="text-align:center; margin:10px;">
        <%= @user.name %> <span>さんのページ</span></h3>
      <div class="card" style="color:black;">
        <%= image_tag @user.avatar.variant(resize:'400x600').processed %>
          <div class="card-body" style="margin:0 auto;">
            <p class="card-text" style="text-align:center; font-size: 30px;"><strong><%= @user.name %></strong></p>
            <p class="card-text" style="text-align:center;">
              <%= @user.profile %>
            </p>
          </div>
          <%if current_user.id==@user.id%> 
            <button style="margin: 0 auto;" class="btn btn-red50_rsd">
              <%= link_to edit_user_path do%>
              <span style="color: ">プロフィール編集</span>
              <% end %>
            </button>
          <% end %> 
          <button style=" margin: 20px auto 0px;" class="btn btn-red50_rsd">
            <%= link_to "/users/index" do %>
            <span>ユーザー一覧に戻る</span>
            </button>
            <% end %>
      </div>
    </div>
  </div>
</div>
</div>