<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3 class="user-show-title">
        <%= @user.name %> <span>さんのページ</span></h3>
      <div class="card user-show-card">
        <%= image_tag @user.avatar.variant(resize:'400x600').processed %>
          <div class="card-body user-show-card-body">
            <p class="card-text user-show-card-text"><strong><%= @user.name %></strong></p>
            <p class="card-text user-show-card-text-profile"><%= @user.profile %></p>
            <%if current_user.id==@user.id%>
              <%= @user.follow_count %>
                <%= link_to "人気になる", {controller: :users,action: :follow_list,user_id: @user.id}, method: :get %>
              <%= @user.followers_count %>
                <%= link_to "人あなたを気になる", {controller: :users,action: :follower_list,user_id: @user.id}, method: :get%>
            <%end%>
            <% if current_user.id != @user.id %>
              <%= render 'follow_form' %>
            <% end %>
            <% unless @user.id == current_user.id %>
              <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>
              <% if @isRoom == true %>
                <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
                  <% end %>
                  <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
                <% end %>
              <% end %>
              <% end %>
            <% end %>
          </div>
          <%if current_user.id==@user.id%> 
            <button class="btn btn-red50_rsd user-edit-button">
              <%= link_to edit_user_path,class:"button-a" do%><span>プロフィール編集</span>
              <% end %>
            </button>
            <% if @user.released? %>
              <%= link_to '非公開にする',"/users/nonrelease/#{@user.id}", method: :patch ,class:"btn btn-blue100_rsd"%>
            <% else %>
              <%= link_to '公開する',"/users/release/#{@user.id}", method: :patch,class:"btn btn-blue100_rsd"%>
            <% end %>
          <% end %> 
          <button class="btn btn-red50_rsd user-index-button">
            <%= link_to "/users/index",class:"button-a" do %><span>ユーザー一覧に戻る</span>
          </button>
          <% end %>
      </div>
    </div>
  </div>
</div>
</div>