<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/maechabin/bootstrap-material-button-color/master/dist/cb-materialbtn.0.5.5.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="cb-materialbtn.min.css">

    <title>Company-love</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    <script crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: pink;">
      <%= link_to("Company-love", "/home" ,{class: "navbar-brand",style:"color:white;"})%> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, class: "nav-link", method: :delete, style:"color:rgba(189, 65, 96, 0.605);"%>
              </li>
              <li class="nav-item"> <a class="nav-link" href="/tweets/new" style="color:rgba(189, 65, 96, 0.605);">投稿する</a> </li>
              <li class="nav-item"> <a class="nav-link disabled" href="/users/<%= current_user.id %>" style="color:rgba(189, 65, 96, 0.605);">マイページ</a> </li>
              <li class="nav-item"> <a class="nav-link disabled" href="/" style="color:rgba(189, 65, 96, 0.605);">投稿一覧</a> </li>
              <li class="nav-item"> <a class="nav-link disabled" href="/users/index" style="color:rgba(189, 65, 96, 0.605);">ユーザー一覧</a> </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to("about", "/about" ,{class: "nav-link",style:"color:rgba(189, 65, 96, 0.605);"}) %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link',style:"color:rgba(189, 65, 96, 0.605);"%>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link',style:"color:rgba(189, 65, 96, 0.605);" %>
                </li>
                <% end %>
          </ul>
        </div>
    </nav>
    <%= render 'layouts/notifications' %>
    <%= yield %>
  </body>
</html>
